<h1>Demo#index</h1>
<p>Hello demo html file from index</p>

<a href="/demo/hello">Hello Page with href</a><br/>
<%= link_to('Hello Page With link to', {:action => "hello"}) %><br/>
<%= link_to('Hello Page With link to and Prarameters', {:action => "hello", :page => 5, :id => 20}) %>
